<div class="col-md-12">

  <h2 class="text-center"> 我喜欢的电影 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> Name </th>
        <th> Description </th>
        <th> Review Count </th>
        <th> Last Update </th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(movie.name, movie_path(movie)) %> </td>
          <td> <%= movie.description %> </td>
          <td> <%= movie.reviews.count %> </td>
          <td> <%= movie.updated_at %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
